*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(135deg,#000,#1a1a1a,#000);
}

.container{
    width:380px;
    padding:180px 35px 35px;
    background:#111;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.7);

    /* Logo */
    background-image:url("/1.png");
    background-repeat:no-repeat;
    background-position:center 20px;
    background-size:180px;
}

.container h2{
    color:#f5f1e8;
    margin-bottom:25px;
    font-size:24px;
}

input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    background:#222;
    color:#fff;
    font-size:16px;
    outline:none;
    transition:.3s;
}

input::placeholder{
    color:#bdbdbd;
}

input:focus{
    background:#2d2d2d;
    box-shadow:0 0 8px rgba(255,255,255,.25);
}

button{
    width:100%;
    padding:15px;
    margin-top:20px;
    border:none;
    border-radius:10px;
    background:#f5f1e8;
    color:#111;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#d9d2be;
    transform:translateY(-2px);
    box-shadow:0 5px 15px rgba(255,255,255,.2);
}
.botoes{
    display:flex;
    gap:15px;
    margin-top:20px;
    margin-bottom:30px;
}

.botoes button{
    flex:1;
}

@media(max-width:768px){

    .botoes{
        flex-direction:column;
    }

}